@import "tailwindcss";

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #0F172A;
  --color-bgCard: #1E293B;
  --color-primaryText: #E2E8F0;
  --color-secondaryText: #94A3B8;
  --color-highlight: #38BDF8;
  --color-colorButton: #7F5AF0;
  --color-buttonHover: #0EA5E9;
  --color-border: #334155;
}

.glowingColor{
  color: rgba(56, 189, 248, 0.3);
}