@import "tailwindcss";

@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #0F111A;
  --color-card: #1A1C29;
  --color-text: #E5E5E5;
  --color-button: #7F5AF0;
  --color-seondary-text: #A1A1AA;
  --color-color-hover: #A78BFA;
  --color-border: #332A70;
}
